.card {
  display: flex;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  margin-bottom: 1rem;
  overflow: hidden;
}

.cardImage {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 12px;
  margin: 1rem;
}

.cardContent {
  padding: 1rem;
  padding-left: 0;
  flex: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-size: 1.1rem;
  font-weight: 600;
  color: #333;
}

.heartIcon {
  color: #aaa;
  cursor: pointer;
}

.rating {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  margin: 0.25rem 0;
}

.starIcon {
  color: #FFC107; /* Màu vàng */
  margin-right: 0.25rem;
}

.score {
  font-weight: bold;
  color: #555;
  margin-right: 0.25rem;
}

.reviews {
  color: #777;
}

.address {
  display: flex;
  align-items: center;
  color: #777;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.address svg {
  margin-right: 0.25rem;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  color: #008000; /* Màu xanh "Đang mở cửa" */
}

.tags {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.tag {
  background-color: #f0f0f0;
  padding: 0.2rem 0.5rem;
  border-radius: 6px;
  font-size: 0.8rem;
}

.price {
  font-weight: bold;
  color: #555;
}