.mapWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.map {
  width: 100%;
  height: 100%;
}

.detailPopupWrapper {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
  pointer-events: none;
}

.detailPopupWrapper > * {
  pointer-events: auto;
}
